*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
}

ul{
	list-style-type: none;
}

.category>p{
	margin: 10px 0px;
	background-color: #FFFFA0;
}

.subsection>li{
	position: relative;
	height: 50px;
	border: 1px solid #FF0000;
}

.subsection a{
	position: absolute;
	width: 100%;
	left: 0%;
	/* width: 80%; left: 10%; */
	top: 50%;
	margin-top: -0.5em;
}

/* text style */

.text_left{
	text-align: left;
}

.text_center{
	text-align: center;
}

.text_right{
	text-align: right;
}

.cross_out{
	text-decoration: line-through;
}



/* Header */

#siteHeader{
	height: 40px;
	margin: 0px 0px 20px;
	background-color: #000000;
}

#siteHeader a:link{
	color: #FFFFFF;
	text-decoration: none;
}

#siteHeader a:visited{
	color: #FFFFFF;
	text-decoration: none;
}

#siteHeader a:hover{
	color: #FFFFFF;
	text-decoration: none;
}

#siteHeader a:active{
	color: #FFFFFF;
	text-decoration: none;
}

#siteHeader span{
	font-weight: bold;
	font-size: 36px;
	color: #FFFFFF;
}

/* Container */

#siteContainer{
	width: 1024px;
	margin: 0 auto;
	padding: 10px 0px 10px 10px;
	/* text-align: left; */
	overflow: hidden;
	border: 1px solid #FF0000;
	background-color: #F0F0F0;
}

/** sideMenu **/

#sideMenu{
	width: 150px;
	margin: 0px 0px 0px;
	border: 1px solid #FF0000;
	float: left;
}

/*** auther ***/

#auther{
	position: relative;
	height: 100px;
}

#auther>p{
	position: absolute;
	bottom: 0;
	width:80%;
	left: 10%;
}

/** articles **/

#articles{
	width: 800px;
	margin: 0px 25px;
	padding: 10px 10px;
	border: 1px solid #FF0000;
	background-color: #00FF00;
	float: left;
}

#articles:after{
	clear: both;
}

#articles li{
	margin: 10px 0px;
}

/* Footer */

#siteFooter{
	position: relative;
	margin: 20px 0px 0px;
	height: 40px;
	background-color: #808080;
}

#siteFooter p{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 50%;
	margin-top: -0.5em;
}